version: "3.2"

services:
  cms:
    build: ./cms/
    ports:
      - 3001:3001
    container_name: reclab-cms
    environment:
      - NODE_ENV=development
      - PORT=3001
      - DATABASE_URL=postgres://postgres:postgres@db:5432/postgres
      - JWT_SECRET=asd
      - FRONTEND_URL=http://localhost:3000
    volumes:
      - ./cms/src:/usr/src/app/src
      - ./cms/migrations:/usr/src/app/migrations
    depends_on:
      - db

  web:
    build: ./web/
    ports:
      - 3000:3000
      - 30011:30011
    container_name: reclab-web
    environment:
      - PORT=3000
      - CMS_URL=http://cms:3001
      - GATSBY_CMS_URL=http://localhost:3001
      - INTERNAL_STATUS_PORT=30011
    env_file:
      - .env
    volumes:
      - ./web/src:/usr/src/app/src
    depends_on:
      - cms

  db:
    image: postgres:12
    restart: unless-stopped
    container_name: reclab-db
    environment:
      - PGDATA=/data
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./pg_data:/data
    ports:
      - 5432:5432

  adminer:
    image: adminer
    restart: always
    container_name: reclab-adminer
    ports:
      - 8080:8080
    depends_on:
      - db

  # Duplicate containers to have a testing environment run simultaneously.
  cms-test:
    build: ./cms/
    ports:
      - 3003:3003
    container_name: reclab-cms-test
    environment:
      - NODE_ENV=test
      - PORT=3003
      - DATABASE_URL=postgres://postgres:postgres@db-test:5432/postgres
      - JWT_SECRET=asd
      - FRONTEND_URL=http://localhost:3002
    volumes:
      - ./cms/src:/usr/src/app/src
      - ./cms/test:/usr/src/app/test
      - ./cms/migrations:/usr/src/app/migrations
    depends_on:
      - db-test

  web-test:
    build: ./web/
    ports:
      - 3002:3002
      - 30012:30012
    container_name: reclab-web-test
    environment:
      - PORT=3002
      - CMS_URL=http://cms-test:3003
      - INTERNAL_STATUS_PORT=30012
      - GATSBY_CMS_URL=http://localhost:3003
    volumes:
      - ./web/src:/usr/src/app/src
    depends_on:
      - cms-test
    # Use reset endpoint here to ensure the frontend is built correctly from the get-go.
    command: /usr/src/app/wait-for-cms.sh http://cms-test:3003/seeder/reset npm start

  db-test:
    image: postgres:12
    restart: unless-stopped
    container_name: reclab-db-test
    environment:
      - PGDATA=/data
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5433:5432
