{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "cypress"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "plugin:cypress/recommended"
  ],
  "rules": {
    "import/extensions": ["error", { "tsx": "never" } ]
  },
  "settings": {
    "import/no-unresolved": 2,
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  }
}
