name: Run Test Suite

on:
  push:
    branches: trunk

jobs:
  test:
    name: End-to-End Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.8
      - run: npm run init
      - run: npm start
      - run: npm docker ps -a
      - run: curl http://localhost:3002
      - run: curl http://web-test:3002
      - run: npm test
